<template>
    <div>
        <div class="ttitle">
            {{ template.title }}
        </div>
        <div v-if="template.author.length != 0" id="author">
            Auteur : {{ template.author }}
            <span v-if="template.date != ''">
                ({{ formatDate(template.date) }})
            </span>
        </div>
        <Tags :template="template" :userVersion="userVersion" />
        <div class="tdesc">
            {{ template.description }}
        </div>
        <div id="links">
            <a :href="`./t/${template.id}.zip`">Télécharger le modèle</a>
        </div>
        <div id="documents">
            <a :href="`./t/${template.id}.pdf`" target="_amcpdf">
                <img class="document" :src="`./t/${template.id}.png`" />
            </a>
            <a :href="`./t/${template.id}-annotee.pdf`" target="_amcpdf">
                <img class="document" :src="`./t/${template.id}-annotee.png`" />
            </a>
        </div>
    </div>
</template>

<script>
import Tags from "./Tags.vue";

export default {
    props: ['templateId', 'userVersion'],
    components: {
        Tags: Tags,
    },
    computed: {
        template() {
            return this.$templates.find((t) => t.id == this.templateId);
        },
    },
    methods: {
        formatDate(s) {
            const d = new Date(s);
            return d.toLocaleDateString();
        }
    },
}
</script>

<style scoped>
.ttitle {
    font-weight: bold;
}

#author {
    font-style: italic;
}

.tdesc {
    white-space: pre-line;
}

#links {
    margin-top: 10px;
    margin-bottom: 10px;
}

#links a {
    margin-left: 4px;
    margin-right: 4px;
    background: #108106;
    color: white;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
}

#links a:hover {
    background: #17b309;
}

#documents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

#documents a {
    flex-grow: 1;
}

img.document {
    width: 100%;
    padding: 1px;
    border: dashed 1px rgb(65, 65, 217);
}
</style>