<template>
    <div class="template">
        <div v-if="selectedTemplates.length == 0">
            Aucun modèle ne correspond à votre recherche…
        </div>

        <div v-else class="tlist">
            <div v-for="template in selectedTemplates" :key="template.id" :class="rowClass(template.needs)">
                <div class="tinfo" @click="selectTemplate(template.id)">
                    <div class="ttitle">
                        {{ template.title }}
                    </div>
                    <Tags :template="template" :userVersion="userVersion" />
                    <div class="tdesc">
                        {{ template.description }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
function wordsWith(string, prefix, word) {
    const r = RegExp("(?:^| )" + prefix + "(" + word + ")(?: |$)", "g")
    const matches = [...string.matchAll(r)];
    return matches.map((m) => m[1]);
}

import Tags from "./Tags.vue";
import { simpleString, versionArray } from '../utils.js';

export default {
    data() {
        return {
            available: "devel",
        };
    },
    props: ['searchString', 'userVersion'],
    components: {
        Tags: Tags,
    },
    computed: {
        simpleSearch() {
            return simpleString(this.searchString);
        },
        tagsOn() {
            return wordsWith(this.simpleSearch, "#", "[^!# ]+");
        },
        tagsOff() {
            return wordsWith(this.simpleSearch, "!#", "[^!# ]+");
        },
        words() {
            return wordsWith(this.simpleSearch, "", "[^!# ]+")
        },
        selectedTemplates() {
            return this.$templates.filter((t) => this.tagsOn.every((i) => t.stags.includes(i)) &&
                this.tagsOff.every((i) => !t.stags.includes(i)) &&
                this.words.every((w) => t.key.includes(w)));
        },
    },
    methods: {
        selectTemplate(id) {
            this.$emit('select', id);
        },
        supportedVersion(n) {
            return versionArray(n) <= versionArray(this.userVersion);
        },
        rowClass(n) {
            return(this.supportedVersion(n) ? "trow" : "trow shadow");
        },
    },
}
</script>

<style scoped>
.ttitle {
    font-weight: bold;
}

.tdesc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 2;
}

.tinfo {
    padding: 3px;
}

.tinfo:hover {
    background: #e6e7ea;
    cursor: pointer;
}

.trow+.trow {
    margin-top: 3px;
    border-top: solid .5px grey;
    padding-top: 3px;
}
.shadow {
    opacity: 0.5;
}
</style>