<template>
    <img class="container logo" src="../assets/images/logo.svg" />
</template>

<style scoped>
.logo {
    height: 3ex;
    vertical-align: middle;
}

.logo:hover {
    cursor: pointer;
}
</style>