<template>
  <div class="completion">
    <div id="stringzone">
      <input v-model="searchString" @keyup="keyUp" @click="setPoint" @focus="setPoint" ref="searchText"
        placeholder="Recherche (mentionnez des étiquettes avec #tag)" class="extend"/>
    </div>
    <div v-if="searchTags.length != 0" id="dropdown">
      <ul class="tagslist">
        <li class="onetag" v-for="t in searchTags" :key="t.text" @click="setKey(t.text)">
          #{{ t.text }} <span class="tagcount">{{ t.count }}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { simpleString } from '../utils.js';

export default {
  data() {
    return {
      searchString: "",
      insertPoint: 0,
    };
  },
  methods: {
    keyUp(event) {
      if(this.searchTags.length==0) {
        this.$emit('changed', this.searchString);
      }
      this.setPoint(event);
    },
    setPoint(event) {
      const inp = this.$refs.searchText;
      this.insertPoint = inp.selectionStart;
    },
    setKey(key) {
      var pos = this.currentKeyPos;
      if (pos[1] <= pos[2]) {
        this.searchString = this.searchString.substring(0, pos[1]) +
          key +
          this.searchString.substring(pos[2], this.searchString.length);
        this.$refs.searchText.focus();
        this.$emit('changed', this.searchString);
      }
    },
  },
  computed: {
    currentKeyPos() {
      const s = this.searchString;
      var i0 = this.insertPoint;
      while (i0 > 0 && s[i0 - 1] != " ") {
        i0 -= 1;
      }
      var i00 = i0;
      if (s[i0] == "#") {
        i0 += 1;
      } else if (s.substring(i0, i0 + 2) == "!#") {
        i0 += 2;
      } else {
        return ([0, 0, -1]);
      }
      var i1 = this.insertPoint;
      while (i1 < s.length && s[i1] != " ") {
        i1 += 1;
      }
      return ([i00, i0, i1]);
    },
    currentKey() {
      const s = this.searchString;
      const pos = this.currentKeyPos;
      if (pos[1] <= pos[2]) {
        return simpleString(s.substring(pos[1], pos[2]));
      } else {
        return (undefined);
      }
    },
    searchTags() {
      const key = this.currentKey;
      if (typeof (key) == "undefined") {
        return [];
      } else {
        const matching = this.$tags.filter((tag) => tag.key.includes(key));
        if (matching.length == 1 && matching[0].text.length == key.length) {
          // no dropdown menu if a unique tag is matching and is already fully written
          return [];
        } else {
          return matching;
        }
      }
    },
  },
};
</script>

<style scoped>
#stringzone {
  display:flex;
}

#dropdown {
  margin-left: 20px;
}

.extend {
  flex-grow: 1;
}

input {
  min-width: 25em;
  padding: 10px 6px;
  margin: 10px;
}

ul.tagslist {
  border: solid .5pt;
  padding: 0pt;
  margin: 0pt;
  width: fit-content;
  position: absolute;
  z-index: 1;
  background: white;
}

li.onetag {
  list-style-type: none;
  margin: .5em;
  width: auto;
}

.tagcount {
  background: #0bb532;
  color: white;
  padding: 1px 3px 1px 3px;
  border-radius: 7px;
}
</style>
