<template>
    <div v-if="template.tags.length != 0" class="tags">
        <span v-for="tag in template.tags" :key="tag" class="tag tag-blue">{{ tag }}</span>
        <span v-if="template.needs.length != 0" :class="needsClass(template.needs)" title="Version minimale d'AMC pour ce modèle">{{ template.needs }}</span>
    </div>
</template>

<script>
import { versionArray } from '../utils.js';

export default {
    props: ['template', 'userVersion'],
    methods: {
        supportedVersion(n) {
            return versionArray(n) <= versionArray(this.userVersion);
        },
        needsClass(n) {
            if(this.userVersion == 'devel') {
                return "tag";
            } else if (this.supportedVersion(n)) {
                return "tag tag-green";
            } else {
                return "tag tag-red";
            }
        },
    },
}
</script>

<style scoped>
.tag {
    font-size: small;
    margin-left: 4px;
    margin-right: 4px;
    color: white;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.tag-blue {
    background: #2137dc;
}

.tag-green {
    background: #1aba11;
}

.tag-red {
    background: #dc2121;
}
</style>