<template>
    <div class="container">
        <select name="version" id="version" v-model="userVersion" @change="changeValue()">
            <option v-for="v in this.$versions" :key="v" :value="v">{{ v }}</option>
        </select>
    </div>
</template>

<script>
export default {
    data() {
        return {
            userVersion: "devel",
        }
    },
    emits: [ 'change' ],
    methods: {
        changeValue() {
            this.$emit('change', this.userVersion);
        },
    },
};
</script>

<style scoped></style>