<template>
  <div id="page">
    <div id="header">
      <div class="small leftspace">
        <Logo @click="home" />
      </div>
      <div class="small">
        <Title />
      </div>
      <div class="extend">
        <Search @changed="searchString = $event" />
      </div>
      <div class="small">
        <Version @change="userVersion = $event"/>
      </div>
    </div>
    <div id="bas">
      <div id="basgauche">
        <List :searchString="searchString" :userVersion="userVersion" @select="selectedTemplate = $event" />
      </div>
      <div v-if="selectedTemplate != ''" id="basdroite">
        <Card :templateId="selectedTemplate" :userVersion="userVersion" />
      </div>
      <div v-else id="basdroite" class="explications">
        <div id="titre">
          Modèles pour Auto Multiple Choice
        </div>
        <div>
          Ce site rassemble des modèles de fichiers source pour le logiciel <a
            href="https://www.auto-multiple-choice.net">Auto Multiple Choice</a>, qui permet de gérer des
          examens en QCM au format papier : conception, impression, scan des copies et correction automatique…
        </div>
        <div>
          <span class="utile">Pour consulter les modèles,</span> utilisez la barre de recherche
          ci-dessus et cliquez sur les descriptifs de la liste ci-contre.
        </div>
        <div>
          <span class="utile">Pour proposer un nouveau modèle</span> de votre composition, ou bien pour proposer une
          amélioration de ce site, rendez-vous sur <a href="https://forge.apps.education.fr/alexis-bienvenue-ext/modeles-amc">la page du
            projet</a>.
        </div>
        <div>
          Ce site est hébergé par <a href="https://forge.apps.education.fr/">La Forge des Communs Numériques Éducatifs</a> : merci !
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Search from "./components/Search.vue";
import Version from "./components/Version.vue";
import Title from "./components/Title.vue";
import Logo from "./components/Logo.vue";
import List from "./components/List.vue";
import Card from "./components/Card.vue";

export default {
  data() {
    return {
      searchString: "",
      selectedTemplate: "",
      userVersion: "devel",
    }
  },
  components: {
    Search: Search,
    Version: Version,
    Title: Title,
    Logo: Logo,
    List: List,
    Card: Card,
  },
  methods: {
    home() {
      this.selectedTemplate = "";
    },
  },
};
</script>

<style scoped>
div.extend {
  flex-grow: 1;
}

div.container {
  display: inline-block;
  margin: 4pt;
}

div.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.leftspace {
  margin-left: 5px;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 0;
}

#titre {
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 5px;
  margin: 5px;
  background: #27eb16;
}

div.explications div {
  margin-top: .4ex;
  margin-bottom: .4ex;
}

.utile {
  font-weight: bold;
}

#page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2px;
  overflow: hidden;
}

#bas {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  overflow: hidden;
}

#basgauche {
  width: 30em;
  flex-shrink: 0;
  overflow-y: auto;
}

#basdroite {
  flex-grow: 1;
  border: solid 1px grey;
  padding: 10px;
  overflow-y: auto;
}
</style>
